{
  "mcpServers": {
    "ollama-deep-researcher": {
      "command": "/opt/homebrew/bin/op",
      "args": [
        "run",
        "--environment",
        "<ENVIRONMENT_ID>",
        "--",
        "node",
        "build/index.js"
      ],
      "env": {
        "OLLAMA_BASE_URL": "http://localhost:11434",
        "LANGSMITH_TRACING": "false",
        "LANGSMITH_ENDPOINT": "https://api.smith.langchain.com",
        "LANGSMITH_PROJECT": "ollama-deep-researcher-mcp-server"
      }
    }
  }
}